doctype xml
rss(
  xmlns:dc="http://purl.org/dc/elements/1.1/"
  xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
  xmlns:admin="http://webns.net/mvcb/"
  xmlns:atom="http://www.w3.org/2005/Atom/"
  xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
  xmlns:content="http://purl.org/rss/1.0/modules/content/"
  xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd"
  version="2.0"
)
  channel
    title= podcast.title
    link= podcast.link
    pubDate= new Date().toUTCString()
    description= podcast.description
    language= podcast.language || 'en-US'
    copyright Copyright © #{new Date().getFullYear()} #{podcast.author}
    itunes:author= podcast.author
    itunes:keywords= podcast.keywords
    itunes:explicit= podcast.explicit ? 'yes' : 'clean'
    itunes:image(href=podcast.imageURL)
    itunes:owner
      itunes:name= podcast.author
      itunes:email= podcast.email
    itunes:block no
    itunes:category(text=podcast.category)
    each subcategory in podcast.subcategories
      itunes:category(text=podcast.category)
        itunes:category(text=subcategory)
    each episode in episodes
      item
        title= episode.title
        description= episode.description
        pubDate= episode.pubDate
        enclosure(url=episode.url length=episode.size type=episode.contentType)
        link= episode.url
        guid= episode.url
        itunes:author= episode.author || podcast.author
        itunes:subtitle= episode.description
        itunes:summary= episode.description
        itunes:explicit= episode.explicit ? 'yes' : 'clean'
        itunes:duration= episode.duration
        content:encoded= episode.description
        itunes:image= episode.imageURL || podcast.imageURL
