doctype xml
rss(version="2.0"
  xmlns:content="http://purl.org/rss/1.0/modules/content/"
  xmlns:wfw="http://wellformedweb.org/CommentAPI/"
  xmlns:dc="http://purl.org/dc/elements/1.1/"
  xmlns:atom="http://www.w3.org/2005/Atom"
  xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
  xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
  xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd"
  xmlns:rawvoice="http://www.rawvoice.com/rawvoiceRssModule/"
)
  channel
    title= title
    link= url
    description= description
    pubDate= now.toUTCString()
    lastBuildDate= now.toUTCString()
    language= language || 'en-US'
    managingEditor #{author.email} #{author.name}
    webMaster #{author.email} #{author.name}
    copyright #{new Date().getFullYear()} #{title}
    atom:link(rel="self" type="application/rss+xml")
    image
      link= url
      url= imageURL
      title= title
    itunes:subtitle= description
    itunes:author= author.name
    itunes:summary= description
    itunes:keywords= keywords
    itunes:owner
      itunes:name= author.name
      itunes:email= author.email
    itunes:image(href=imageURL)
    itunes:category(text=category)
    itunes:explicit= explicit ? 'yes' : 'no'
    each item in entries
      item
        title
          :escape-html= item.title + ' - ' + item.author
        link= item.url
        pubDate= item.date.toUTCString()
        description
          :escape-html= item.description
        guid(isPermalink="false")= item.url
        enclosure(url=item.url length=item.size type=item.contentType)
        itunes:author= item.author || author.name
        itunes:subtitle
          :escape-html= item.description
        itunes:summary
          :escape-html= item.description
        itunes:duration= item.duration
        itunes:keywords= item.keywords || keywords
        itunes:image(href=item.imageURL)
        itunes:explicit= item.explicit ? 'yes' : 'no'
        itunes:block no
